.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: var(--dark);
  color: var(--white);
}

.dark:hover {
  background-color: var(--dark-red);
  transition: background-color ease-in-out 1s;
  cursor: pointer;
}

.red {
  background-color: var(--dark-red);
  color: var(--white);
}

.red:hover {
  background-color: var(--dark);
  transition: background-color ease-in-out 1s;
  cursor: pointer;
}

h3 {
  padding: 100px 0;
}
