<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>
        {{ lostMessage | titlecase }}
      </h3>
    </div>
    <div
      class="col-md-4"
      [class]="i % 2 === 0 ? 'dark' : 'red'"
      *ngFor="let exit of pageNotFoundExits; let i = index"
      (click)="toPage(exit)"
    >
      <h3 class="display-4">{{ exit }}</h3>
    </div>
    <div
      class="col-md-4"
      (mouseover)="changeMessage('lost')"
      (mouseout)="changeMessage('not-lost')"
    >
      <h3>{{ message | titlecase }}</h3>
    </div>
  </div>
</div>
