.col-md-4 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-content {
  text-align: center;
}

.col-one {
  background-color: hsl(0, 60%, 50%);
}

.col-three {
  background-color: rgb(100, 100, 100);
}
