<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-one">
        <div class="col-content">
          <i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
          <p>Phone</p>
        </div>
      </div>
      <div class="col-md-4 col-two">
        <div class="col-content">
          <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>
          <p>E-mail</p>
        </div>
      </div>
      <div class="col-md-4 col-three">
        <div class="col-content">
          <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
          <p>Facebook</p>
        </div>
      </div>
    </div>
  </div>
</div>
