<div class="container py-5">
  <div class="row">
    <div class="col">
      <h3 class="display-5">Contact Info</h3>
      <div>
        <h3>KOS Coaches</h3>
        <p>Kieran O Sullivan</p>
        <p>Doon</p>
        <p>Ballyheigue</p>
        <p>Tralee</p>
        <p>Co.Kerry</p>
        <hr />
        <div class="electronic-contact">
          <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
          <p>00 353 87 645 5443</p>
        </div>
        <div class="electronic-contact">
          <i class="fa fa-laptop fa-2x" aria-hidden="true"></i>
          <p>info@koscoaches.com</p>
        </div>
      </div>
      <hr />
      <h3 class="display-5">Media Links</h3>
      <div class="external-links">
        <ul>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa fa-instagram fa-2x" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank"
              ><i class="fa fa-facebook fa-2x" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=en" target="_blank"
              ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
