.container-fluid {
  background-color: var(--dark);
  color: var(--white);
  border-top: 2px solid var(--dark-red);
}

.address > p {
  margin: 0;
}

ul > li {
  list-style: none;
}

.company-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.fa {
  color: var(--white);
}

/* .kos-btn:hover {
  background-color: var(--white);
  color: var(--dark-red);
} */

@media screen and (max-width: 769px) {
  .company-info {
    align-items: center;
  }
}
