<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 dark-col">
      <div class="content">
        <h3><ng-content select="[h31]"></ng-content></h3>
        <p><ng-content select="[h41]"></ng-content></p>
      </div>
    </div>
    <div class="col-md-4 red-col">
      <div class="content">
        <h3><ng-content select="[h32]"></ng-content></h3>
        <p><ng-content select="[h42]"></ng-content></p>
      </div>
    </div>
    <div class="col-md-4 dark-col">
      <div class="content">
        <h3><ng-content select="[h33]"></ng-content></h3>
        <p><ng-content select="[h43]"></ng-content></p>
      </div>
    </div>
  </div>
</div>
