/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --dark: hsl(0, 0%, 16%);
  --red: hsl(0, 100%, 50%);
  --dark-red: hsl(0, 100%, 40%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

.container {
  padding: 1rem;
}

.kos-btn {
  background-color: var(--dark-red);
  color: var(--white);
  border: none;
  transition: background-color, color, 2s;
  padding: 0.5rem 1.5em;
  display: block;
  border: 2px solid transparent;
}

.kos-btn:hover {
  background-color: var(--dark);
  /* color: var(--dark-red); */
  border: 2px solid var(--dark-red);
}

@media screen and (max-width: 768px) {
  .kos-btn {
    margin: 0 auto;
  }
}
